body{
	margin: 0 0 0 0px;
}

.header span{
	color: black;
	margin-left: 200px;
	position: relative;
	top: -20px;
	font-weight: bold;
}

.header span:hover{
	background-color: #61C6BF;
	color: white;
	box-shadow: 0 0 10px #61C6BF,
	0 0 30px #61C6BF,
	0 0 60px #61C6BF,
	0 0 100px #61C6BF;
}

.header{
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: #f2f2f2;
}

.team_logo{
	width: 150px;
	padding: 10px;
}

.user_icon{
	margin-left: 200px;
	position: relative;
	top: -10px;
	right: 20px;
}

.user_icon:hover{
	background-color: #61C6BF;
	box-shadow: 0 0 10px #61C6BF,
	0 0 30px #61C6BF,
	0 0 60px #61C6BF,
	0 0 100px #61C6BF;	
}

.background_img{
	width: 100%;
}

section{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	top: 0px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

section: :before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background: linear-gradient(to top,#fff,transparent);
}

section img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	pointer-events: none;
}

section img#main{
	transform-origin: bottom;
}

#text{
	position: relative;
	color: white;
	font-size: 120px;
}

.box{
	position: relative;
	width: 100%%;
	height: 200px;
	padding: 100px;
}

.box p{
	width: 500px;
	margin-left: 700px;
	margin-top: -100px;
	font-size: 20px;
	position: relative;
	top: 56px;
}

.blog_img1{
	width: 500px;
	margin-top: -500px;
	-webkit-box-reflect: below 5px linear-gradient(transparent,transparent,transparent,#0004);
}

.box2{
	position: relative;
	width: 100%%;
	height: 200px;
	padding: 100px;
}

.blog_img2{
	width: 500px;
	margin-top: -300px;
	margin-left: 700px;
	position: relative;
	top: -30px;
	-webkit-box-reflect: below 5px linear-gradient(transparent,transparent,transparent,#0004);
}

.box2 p{
	width: 500px;
	font-size: 20px;
}

.sp_hot{
	margin-left: auto;
	margin-right: auto;
	margin-top: 400px;
	width: 1200px;
}

h2{
	text-align: center;
	font-size: 30px;
}

.card1{
	transition: 0.5s;
	margin-left: 80px;
}

.card1:hover{
	transform: translate(40px,-40px);
}

.card2{
	transition: 0.5s;
}

.card2:hover{
	transform: translate(40px,-40px);
}

.danh_muc{
	text-align: center;
	text-decoration: underline;
	font-size: 20px;
	padding: 5 15 5 15px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.danh_muc:hover{
	background-color: #61C6BF;
	box-shadow: 0 0 10px #61C6BF,
	0 0 30px #61C6BF,
	0 0 60px #61C6BF,
	0 0 100px #61C6BF;
	color: white;
}

.container{
	display: flex;
	flex-direction: row;
}

.thanh_vien_1{
	width: 100%;
}

.thanh_vien_2{
	width: 100%;
}

.thanh_vien_3{
	width: 100%;
}

.thanh_vien_4{
	width: 100%;
}

.thanh_vien_5{
	width: 100%;	
}

.card3{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}

.card3 .content p{
	text-align: center;
}

.team_name{
	font-weight: bold;
	font-size: 18px;
}

h3{
	text-align: center;
	font-size: 30px;
	margin-top: 200px;
}

.school_link{
	position: relative;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
	padding: 20px 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 100px;
	transition: 1s;
	overflow: hidden;
	-webkit-box-reflect: below 5px linear-gradient(transparent,transparent,#0004);
}

.school_link:hover{
	background: var(--clr);
	box-shadow: 0 0 10px var(--clr),
	0 0 30px var(--clr),
	0 0 60px var(--clr),
	0 0 100px var(--clr);
}

.school_link::before{
	content: '';
	position: absolute;
	width: 40px;
	height: 1400%;
	background: var(--clr);
	transition: 1s;
	animation: animate 2s linear infinite;
	animation-delay: calc(0.33s * var(--i));
}

@keyframes animate{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}		
}

.school_link:hover::before{
	width: 120%;
}

.school_link::after{
	content: '';
	position: absolute;
	inset: 4px;
	background: #0e1538;
	transition: 0.5s;
}

.school_link:hover::after{
	background: var(--clr);
}

.school_link p{
	position: relative;
	z-index: 5;
	font-size: 30px;
	color: white;
	opacity: 0.5;
	transition: 0.5s;	
}

.school_link:hover p{
	opacity: 1;
}

.link_background{
	width: 100%;
	height: 250px;
	background-color: black;
}

.footer{
	width: 100%;
	margin-top: 100px;
}

.sp_hot_2{
	display: flex;
	flex-direction: row;
	background-color: white;
	width: 1350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.card4{
	position: relative;
	width: 200px;
	height: 300px;
	background: white;
	transform-style: preserve-3d;
	transform: perspective(2000px);
	transition: 1s;
	box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, 0.15);	
	margin-left: 110px;
}

.card4:hover{
	transform: perspective(2000px) translateX(50%);
	box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15);
}

.card4 .details{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 6;
}

.card4 .details a{
	display: inline-block;
	padding: 8px 20px;
	background: #61C6BF;
	color: white;
	margin-top: 5px;
	letter-spacing: 1px;
	border-radius: 25px;
	text-decoration: none;
	font-weight: 500;
	position: relative;
	left: 15px;
	top: -5px;
}

.card4 .details p{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.card4 .details img{
	width: 150px;
	position: relative;
	left: 0px;
}

.card4 .cover{
	position: relative;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 7;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	overflow: hidden;
	transition: 1s ease-in-out;
	transform-origin: left;
}

.card4:hover .cover{
	transform: rotateY(-180deg);
}

.card4 .cover img{
	max-width: 100%;
	z-index: 9;
}

.card4 .cover::before{
	content: '';
	position: absolute;
	width: 10px;
	height: 150%;
	background: white;
	transform: rotate(36.5deg);
	box-shadow: 0 0 0 10px #61C6BF;
	transition: 0.5s;
	transition-delay: 1s;
	z-index: 8;
}

.card4:hover .cover::before{
	width: 0;
	box-shadow: 0 0 0 250px #61C6BF;
	transform: rotate(143.5deg);
}